<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style/main.css">
    <title>【web前端招聘】_便利蜂招聘-BOSS直聘</title>
</head>

<body>
    <div class="container" id="app">
        <div class="top-bar flex padded">
            <img src="./image/logo.png" alt="">
            <form action="" class="flex">
                <input type="text">
                <button class="search-icon"></button>
            </form>
        </div>

        <div class="job-info padded">
            <div class="title flex">
                <span>{{job.title}}</span>
                <span class="salary">{{job.salary}}</span>
            </div>
            <div class="props flex">
                <div class="items flex" >
                    <template v-for="(tag, index) in job.tags">
                        <i v-if="index > 0"></i>
                        {{tag}} 
                    </template>
                </div>
            </div>
            <div class="tag">
                <span v-for="label in job.labels">{{label}}</span>
            </div>
            <div class="publish-time">
                发布于{{job.publishedData}}
            </div>
        </div>

        <div class="user-info flex padded" v-if="job.user">
            <img :src="job.user.avatar" alt="">
            <div class="total-desc">
                <div class="name flex">
                    <span>{{job.user.name}}</span>
                    <span class="like">
                        <img src="./image/link-like.png" alt="">
                        感兴趣
                    </span>
                </div>
                <div class="desc">
                    {{job.company.name}} · {{job.user.title}}
                </div>
            </div>
            <button class="btn">立即沟通</button>
        </div>

        <div class="job-detail padded" v-if="job.body && job.company">
            <h3>职位描述<br></h3>
            <div class="text" v-html="job.body">
                
            </div>
            <h3>团队介绍<br></h3>
            <div class="tags">
                <span v-for="advantage in job.teams">{{advantage}}</span>
            </div>
            <h3>公司介绍<br></h3>
            <div class="text">
                {{job.company.body}}
            </div>
            <h3>工商信息<br></h3>
            <div class="text">
                <div>
                    <p>{{job.company.full_name}}</p>
                </div>
                <table>
                    <tr>
                        <th>法人代表：</th>
                        <td>{{job.company.props.法人代表}}</td>
                        <th>注册资本：</th>
                        <td>{{job.company.props.注册资本}}</td>
                    </tr>
                    <tr>
                        <th>成立时间：</th>
                        <td>{{job.company.props.成立时间}}</td>
                        <th>经营状态：</th>
                        <td>{{job.company.props.经营状态}}</td>
                    </tr>
                </table>
                <p class="grey"><small>数据来源：天眼查</small></p>
            </div>
            <h3>工作地址<br></h3>
            <div class="map">

            </div>
        </div>

        <div class="company-info flex padded" v-if="job.company">
            <img :src="job.company.logo" alt="">
            <div class="info">
                <div class="name flex">
                    <span>{{job.company.name}}</span>
                    <button class="btn" type="button">关注该公司</button>
                </div>
                <p class="desc">{{job.company.full_name}}</p>
                <p class="gray">
                    <template v-for="(item, index) in job.company.tags">
                        <i v-if="index > 0"></i>
                        {{item}}
                    </template>
                </p>
            </div>
        </div>

        <div class="related-jobs">
            <h3 class="padded">相似职位</h3>
            <ul class="job-list">
                <li v-for="relatedJob in job.relatedJobs">
                    <a href="" class="flex">
                        <img :src="relatedJob.icon" alt="">
                        <div class="text">
                            <div class="title">
                                {{relatedJob.title}}
                                <span class="salary">{{relatedJob.salary}}</span>
                            </div>
                            <div class="company flex">
                                {{relatedJob.company}}
                                <button class="btn">立即沟通</button>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="related-company">
            <dl class="links-items">
                <dt>推荐公司</dt>
                <dd class="tags" >
                    <a href="" v-for="company in job.companies">{{company.name}}</a>
                </dd>
            </dl>
        </div>

        <div class="job-footer">
            <template v-for="(pathcase, index) in job.path">
                <i v-if="index > 0"></i>
                <a :href="pathcase.url">{{pathcase.title}}</a>                   
            </template>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js"></script>
<script>
    const vm = new Vue({
        el: "#app",
        data: {
            job: {},
        },
        created: function () {
            const that = this;
            fetch("http://127.0.0.1:5500/api/jobdetail.json").then(function(res){
                return res.json();
            }).then(function(data){
                that.job = data;
            })
        }
    })
</script>

</html>