<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./image/logo-x.png" type="image/x-icon">
    <link rel="stylesheet" href="./style/main.css">
    <title>BOSS直聘-互联网招聘神器！</title>
</head>

<body>
    <div class="containter" id="app">
        <div class="home-header">
            <img src="./image/home-search-text.png" alt="招聘就上Boss直聘">
            <form action="">
                <input type="text" placeholder="搜索职位/公司">
                <button>搜索</button>
            </form>
        </div>
        <div class="home-categories">
            <dl v-for='item in categories'>
                <dt>
                    <img :src="item.icon" alt="">
                    <div>{{item.name}}</div>
                </dt>

                <dd>
                    <a href="list.html" class="tag" v-for="tag in item.tags">{{tag}}</a>                
                </dd>
            </dl>
        </div>
        <div class="home-footer">
            <p>违法和不良信息举报邮箱：jubao@kanzhun.com</p>
            <p>企业服务热线和举报投诉：400 065 5799</p>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js"></script>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            categories: []
        },
        created: function () {
            // axios
            fetch("http://127.0.0.1:5500/api/index.json").then(function(res) {
                return res.json();
            }).then(function(data) {
                // console.log(data)
                vm.categories = data;
            })
        }
    })
</script>

</html>