<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style/main.css">
    <title>【北京Java招聘】2019年北京Java最新人才招聘信息-BOSS直聘</title>
</head>

<body>
    <div class="container" id="list">
        <!-- flex是横向布局的意思 -->
        <div class="list-header flex">
            <form action="" class="flex">
                <a href="index.html"><img src="/image/icon-home.png" alt=""></a>
                <div class="inner flex">
                    <input type="text" value="web前端">
                    <span>&times;</span>
                </div>
                <button>搜索</button>
            </form>
        </div>

        <div class="filter flex">
            <dl class="active1" v-for="item in filters">
                <dt>
                    {{item.name}}
                </dt>
                <dd>
                    <ul>
                        <li class="active" v-for="option in item.options">{{option.text}}</li>
                    </ul>
                </dd>
            </dl>
        </div>

        <ul class="job-list">
            <li v-for="item in jobs">
                <a href="detail.html" class="flex">
                    <img :src="item.icon" alt="">
                    <div class="text">
                        <div class="title">
                            {{item.title}}
                            <span class="salary">{{item.salary}}</span>
                        </div>
                        <div class="company">
                            {{item.company}}
                        </div>
                        <div class="prop">
                            <span v-for="tag in item.tags">{{tag}}</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js"></script>

<script>
    const vm = new Vue({
        el: "#list",
        data: {
            filters: [],
            jobs: []
        },
        created: function () {
            const that = this;
            fetch("http://127.0.0.1:5500/api/filters.json").then(function (res) {
                return res.json();
            }).then(function (data) {
                that.filters = data;
            })

            fetch("http://127.0.0.1:5500/api/jobs.json").then(function (res) {
                return res.json();
            }).then(function (data) {
                that.jobs = data;
            })
        }
    })
</script>

</html>